.page-wrapper {
  background: linear-gradient(180deg, #3B1D60 1.22%, #040D3E 100%);
}

.business {
  background: url('../../dist/images/patten.svg') no-repeat left center;
  background-size: 350px;

  @include media-breakpoint-down(lg) {
    background: url('../../dist/images/patten.svg') no-repeat left top;
    background-size: 300px;
  }

  @include media-breakpoint-down(md) {
    background-size: 250px;
  }
}

.project {
  background: url('../../dist/images/project.svg') no-repeat center bottom;

  .next-project {
    margin-bottom: 300px;
  }
}
