.body-wrapper {
    background: linear-gradient(to right, $light-info 0%, $light-info 75%, $white 25%, $white 100%);

    @include media-breakpoint-down (lg) {
        background: $light-info;
    }
}

.main-wrapper {
    @include media-breakpoint-down (lg) {
        background: unset;
    }

    .home-section {
        padding: 190px 0;

        @include media-breakpoint-down (lg) {
            padding: 100px 0;
        }

        .active-heading {
            background-color: $light-inverse;
        }

        .home-heading {
            font-size: 48px;
        }
    }
}

.start-btn {
    padding: 10px 26px !important;
}

.online-payment {
    .card {
        background-color: $light-info;
        border-radius: 32px;
    }

    .card-body {
        padding: 90px 85px;

        @include media-breakpoint-down(md) {
            padding: 40px;
        }

        @include media-breakpoint-down(sm) {
            padding: 40px 20px;
        }

        .active-heading {
            background-color: $light-inverse;
        }
    }

    .reward {
        .card {
            border-radius: 12px;
        }

        .card-body {
            padding: 60px;

            @include media-breakpoint-down(md) {
                padding: 30px 20px;
            }
        }
    }
}

.virtual-card {
    border-radius: 12px !important;
    background: url('../../dist/images/virtul.png') no-repeat bottom right;
    background-size: cover;

    @include media-breakpoint-down(lg) {
        background: white;
    }

    .card-body {
        padding: 55px 60px;
    }

    @include media-breakpoint-down(md) {
        .card-body {
            padding: 30px;
        }
    }
}

.banking-card {
    border-radius: 12px;

    .card-body {
        padding: 55px 0px 55px 60px;
    }

    @include media-breakpoint-down(lg) {
        .card-body {
            padding: 55px 60px;
        }
    }

    @include media-breakpoint-down(md) {
        .card-body {
            padding: 30px;
        }
    }

    .bank-image {
        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }

    .banking-icon {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.payment-card {
    border-radius: 12px;

    .card-body {
        padding: 55px 0px 55px 60px;
    }

    @include media-breakpoint-down(lg) {
        .card-body {
            padding: 55px 60px;
        }
    }

    @include media-breakpoint-down(md) {
        .card-body {
            padding: 30px;
        }
    }

    .bank-image {
        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }

    .payment-icon {
        bottom: 30px;
        left: 30px;
    }
}

.free-started {
    .card {
        border-radius: 32px 32px 0 0;
        background-color: $light-info;
        border: 3px solid $light-info;
        border-bottom: 0;
    }

    .card-bottom {
        border-radius: 0 0 32px 32px;
        background-color: $white;
        border: 3px solid $light-info;
        border-top: 0;

        .card-body {
            padding: 60px 82px;

            @include media-breakpoint-down (md) {
                padding: 15px;
            }
        }
    }

    .card-body {
        padding: 47px 82px 60px;

        @include media-breakpoint-down(md) {
            padding: 40px;
        }

        @include media-breakpoint-down(sm) {
            padding: 40px 20px;
        }

        .active-heading {
            background-color: $light-inverse;
        }
    }

    .input-group {
        width: unset;
    }
}

.popular {
    top: 10px;
    left: 10px;
}

.tab-background {
    background: $light;
    padding: 12px;
    border-radius: 12px;


    .nav-pills {
        .nav-link {
            border-radius: 10px;
            color: $muted;
            padding: 12px 42px;

            @include media-breakpoint-down(sm) {
                padding: 8px 20px;
            }
        }

        .active {
            color: $dark;
            background: $white;
        }
    }

    .dicount-badge {
        padding: 5px 10px;
        position: absolute;
        top: -35px;
        right: 28px;

        &::after {
            position: absolute;
            content: "";
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $success;
        }
    }

}

.tab-content {
    .card {
        border: 1px solid $light-gray;
        border-radius: 12px;
        margin-bottom: 0;

        @include media-breakpoint-down(lg) {
            margin-bottom: 40px;
        }

        .card-body {
            padding: 40px 20px;

            sup {
                top: -1em;
            }

            .list-group-item {
                padding: 10px 0;
            }

            strike {
                position: absolute;
                right: 0;
                top: 20%;
            }
        }
    }
}